@keyframes ldio-5k14biougf {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(0.6900000000000001,0.6900000000000001);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-5k14biougf div > div {
  position: absolute;
  width: 14.16px;
  height: 14.16px;
  border-radius: 50%;
  background: #72e1ff;
  animation: ldio-5k14biougf 1.2048192771084336s linear infinite;
}.ldio-5k14biougf div:nth-child(1) > div {
  left: 118.5px;
  top: 81.5px;
  animation-delay: -1.1244979919678715s;
}
.ldio-5k14biougf > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 125.58px 88.58px;
}.ldio-5k14biougf div:nth-child(2) > div {
  left: 115.5px;
  top: 96.5px;
  animation-delay: -1.0441767068273091s;
}
.ldio-5k14biougf > div:nth-child(2) {
  transform: rotate(24deg);
  transform-origin: 122.58px 103.58px;
}.ldio-5k14biougf div:nth-child(3) > div {
  left: 106.5px;
  top: 109.5px;
  animation-delay: -0.9638554216867469s;
}
.ldio-5k14biougf > div:nth-child(3) {
  transform: rotate(48deg);
  transform-origin: 113.58px 116.58px;
}.ldio-5k14biougf div:nth-child(4) > div {
  left: 92.5px;
  top: 116.5px;
  animation-delay: -0.8835341365461846s;
}
.ldio-5k14biougf > div:nth-child(4) {
  transform: rotate(72deg);
  transform-origin: 99.58px 123.58px;
}.ldio-5k14biougf div:nth-child(5) > div {
  left: 77.5px;
  top: 118.5px;
  animation-delay: -0.8032128514056224s;
}
.ldio-5k14biougf > div:nth-child(5) {
  transform: rotate(96deg);
  transform-origin: 84.58px 125.58px;
}.ldio-5k14biougf div:nth-child(6) > div {
  left: 62.5px;
  top: 113.5px;
  animation-delay: -0.7228915662650601s;
}
.ldio-5k14biougf > div:nth-child(6) {
  transform: rotate(120deg);
  transform-origin: 69.58px 120.58px;
}.ldio-5k14biougf div:nth-child(7) > div {
  left: 51.5px;
  top: 103.5px;
  animation-delay: -0.642570281124498s;
}
.ldio-5k14biougf > div:nth-child(7) {
  transform: rotate(144deg);
  transform-origin: 58.58px 110.58px;
}.ldio-5k14biougf div:nth-child(8) > div {
  left: 45.5px;
  top: 89.5px;
  animation-delay: -0.5622489959839357s;
}
.ldio-5k14biougf > div:nth-child(8) {
  transform: rotate(168deg);
  transform-origin: 52.58px 96.58px;
}.ldio-5k14biougf div:nth-child(9) > div {
  left: 45.5px;
  top: 73.5px;
  animation-delay: -0.48192771084337344s;
}
.ldio-5k14biougf > div:nth-child(9) {
  transform: rotate(192deg);
  transform-origin: 52.58px 80.58px;
}.ldio-5k14biougf div:nth-child(10) > div {
  left: 51.5px;
  top: 59.5px;
  animation-delay: -0.4016064257028112s;
}
.ldio-5k14biougf > div:nth-child(10) {
  transform: rotate(216deg);
  transform-origin: 58.58px 66.58px;
}.ldio-5k14biougf div:nth-child(11) > div {
  left: 62.5px;
  top: 49.5px;
  animation-delay: -0.321285140562249s;
}
.ldio-5k14biougf > div:nth-child(11) {
  transform: rotate(240deg);
  transform-origin: 69.58px 56.58px;
}.ldio-5k14biougf div:nth-child(12) > div {
  left: 77.5px;
  top: 44.5px;
  animation-delay: -0.24096385542168672s;
}
.ldio-5k14biougf > div:nth-child(12) {
  transform: rotate(264deg);
  transform-origin: 84.58px 51.58px;
}.ldio-5k14biougf div:nth-child(13) > div {
  left: 92.5px;
  top: 46.5px;
  animation-delay: -0.1606425702811245s;
}
.ldio-5k14biougf > div:nth-child(13) {
  transform: rotate(288deg);
  transform-origin: 99.58px 53.58px;
}.ldio-5k14biougf div:nth-child(14) > div {
  left: 106.5px;
  top: 53.5px;
  animation-delay: -0.08032128514056225s;
}
.ldio-5k14biougf > div:nth-child(14) {
  transform: rotate(312deg);
  transform-origin: 113.58px 60.58px;
}.ldio-5k14biougf div:nth-child(15) > div {
  left: 115.5px;
  top: 66.5px;
  animation-delay: 0s;
}
.ldio-5k14biougf > div:nth-child(15) {
  transform: rotate(336deg);
  transform-origin: 122.58px 73.58px;
}
.loadingio-spinner-spin-b2oopisoie9 {
  width: 177px;
  height: 177px;
  display: inline-block;
  overflow: hidden;
  background: #f3f7fa;
}
.ldio-5k14biougf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-5k14biougf div { box-sizing: content-box; }
/* generated by https://loading.io/ */